
$fa-font-path: "/node_modules/@fortawesome/fontawesome-free/webfonts";

$primary: #04BFBF;
$primary-dark: #038C8C;
$secondary: #BF4904;
$accent: #F27405;
$dark: #012623;
$light: #D2D2D9;
$text: #038C8C;
$enable-gradients: false;
$font-family-sans-serif: 'Poppins';

$custom-colors: (
        'primary': $primary,
        'secondary': $secondary,
        'accent': $accent,
        'dark': $dark,
        'light': $light,
        'text': $text
);

$grid-gutter-width: 1.5rem;
$spacer: 1rem;
$gutters: (
        0: 0,
        1: $spacer * .25,
        2: $spacer * .5,
        3: $spacer,
        4: $spacer * 1.5,
        5: $spacer * 3,
        6: $spacer * 4.5,
        7: $spacer * 6,
);

.py-6{
  padding-top: $spacer * 4.5;
  padding-bottom: $spacer * 4.5;
}

.py-7{
  padding-top: $spacer * 6;
  padding-bottom: $spacer * 6;
}

.px-6{
  padding-right: $spacer * 4.5;
  padding-left: $spacer * 4.5;
}

.px-7{
  padding-right: $spacer * 6;
  padding-left: $spacer * 6;
}
