@import "variables";
@import "mixins";

.circle {
  overflow: hidden;

  .square {
    position: relative;
    font-weight: lighter;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .content {
    width: 100%;
    max-height: 550px;
    z-index: 100;
    text-align: center;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      object-position: center;
      z-index: 100;
    }
  }
  .ring {
    $icon-size-dot: 30px;
    .dot-content {
      font-size: 0.8rem;
      padding: 1rem;
      background: white;
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 50px 1fr;
      margin-bottom: 1rem;
      text-align: left;

      img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        object-position: center;
        filter: none;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    .square {
      font-weight: lighter;
      position: relative;
      width: 50rem;
      height: 50rem;
      margin-left: auto;
      margin-right: auto;

      .ring {
        .dot {
          width: 10px;
          height: 10px;
          background: #fff;
          position: absolute;
          border-radius: 50%;
          left: 50%;
          top: 50%;
          margin-left: -5px;
          margin-top: -5px;
        }

        $item-count: 5;
        $rot: 150;
        $angle: 60;
        $circle-size: 35rem;
        @for $i from 1 through $item-count {
          .dot:nth-of-type(#{$i}) {
            transform: rotate($rot * 1deg)
              translate($circle-size / 2)
              rotate($rot * -1deg);
            .dot-content {
              $width-dot-content: 6rem;
              font-size: 0.9rem;
              $icon-size-dot: 50px;
              color: #fff;
              position: absolute;
              background: transparent;

              text-align: center;
              @if ($rot > 120) {
                width: $width-dot-content + 10rem;
                padding: 2rem;
                right: 0;
                left: auto;
                height: $icon-size-dot;
                top: -($icon-size-dot/2);
                bottom: auto;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                text-align: right;
                .dot-icon {
                  height: $icon-size-dot;
                  width: $icon-size-dot;
                  object-fit: contain;
                  flex-basis: $icon-size-dot;
                  filter: grayscale(0) saturate(0) brightness(20);
                }
                span {
                  margin-top: 0;
                  margin-right: 1rem;
                  margin-left: 0;
                }
              }
              @if ($rot > 210) {
                $top-width: $width-dot-content + 20rem;
                width: $top-width;
                height: auto;
                padding: 1.5rem;
                right: -($top-width/2);
                left: -($top-width/2);
                bottom: 0;
                top: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                .dot-icon {
                  height: $icon-size-dot;
                  width: $icon-size-dot;
                  object-fit: contain;
                  flex-basis: $icon-size-dot;
                  filter: grayscale(0) saturate(0) brightness(20);
                }
                span {
                  margin-left: 0;
                  margin-top: 1rem;
                  margin-right: 0;
                }
              }
              @if ($rot > 300) {
                height: $icon-size-dot;
                width: $width-dot-content + 10rem;
                padding: 2rem;
                left: 0;
                right: auto;
                top: -($icon-size-dot/2);
                bottom: auto;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: left;
                .dot-icon {
                  height: $icon-size-dot;
                  width: $icon-size-dot;
                  object-fit: contain;
                  flex-basis: $icon-size-dot;
                  filter: grayscale(0) saturate(0) brightness(20);
                }
                span {
                  margin-left: 1rem;
                  margin-top: 0;
                  margin-right: 1rem;
                }
              }
            }
          }

          $rot: $rot + $angle;
        }
      }
    }

    .outer-circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px dashed white;
      border-radius: 100%;
      transform: scale(0.7);
      z-index: 50;
    }

    .inner-circle {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid white;
      border-radius: 100%;
      transform: scale(0.5);
      z-index: 50;
    }

    .content {
      position: absolute;
      right: -2rem;
      bottom: 10rem;
      z-index: 100;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: center;
        z-index: 100;
      }
    }

    ul {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
