@import "variables";

.content {
  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    font-weight: lighter
  }
}

.bg-content-blue{
  background-image: linear-gradient(90deg, #047EB63C 0%, #2D5692 100%), url("../images/laughing-mature-male-doctor-and-the-young-happy-family-with-little-son-min.png");
  background-size: contain, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: left, left;
  color: white;

  @media screen and (min-width: 1025px) {
    background-size: contain, contain;
  }
}