@import "variables";

$diameter: 2rem;

.footer {
  overflow-x: hidden;
  font-weight: lighter;

  .icon-circle {
    border: 1px solid $text;
    width: $diameter;
    height: $diameter;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: $diameter/2;
    flex: 0 0 $diameter;
    color: $text;
    margin: 0.5rem;

    &:hover {
      border: 1px solid $primary;
      color: $primary;
    }

    .fab{
      align-self: center;
    }

    &.link-text{
      text-decoration: none;
    }

  }
}
