@import "variables";

.hero {
  &.bg-gradient-my-good-app {
    background-image:  linear-gradient(118deg, transparent 50%, white 50.1%), linear-gradient(118deg, $primary -10%, $primary-dark 120%);
    background-position: right bottom, 0 0;
    background-size: auto 100%, auto;

    @media screen and (max-width: 1023px) {
      background-image: linear-gradient(118deg, $primary -10%, $primary-dark 120%);
      background-position: 0 0;
      background-size: auto;
    }
  }

  .side-logo{
    text-align: right;
    @media screen and (max-width: 1023px) {
      text-align: center;
    }
  }

  h1 {
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0;
    max-width: 75%;
    margin-bottom: 4rem;

    strong {
      font-weight: 900;
      letter-spacing: 0;
    }

    @media screen and (max-width: 1023px) {
      font-size: 2rem;
      text-align: center;
      max-width: 100%;
    }
  }
  h2 {
    font-size: 1.5rem;
    margin-bottom: 4rem;
    @media screen and (max-width: 1023px) {
      font-size: 1rem;
      text-align: center;
    }
  }

  .btn-area{
    text-align: left;
    @media screen and (max-width: 1023px) {
      text-align: center;
    }
  }

  .btn.btn-white {
    background-color: #fff;
    color: $primary;

    &:hover {
      background-color: $secondary;
      color: #fff;
    }
  }
}
