@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@font-face {
  font-family: "Font Awesome 5 Brands";
  src: url(../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff)
      format("woff"),
    url(../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.woff2)
      format("woff2"),
    url(../../node_modules/@fortawesome/fontawesome-free/webfonts/fa-brands-400.eot)
      format("eot");
  font-display: swap;
}

@font-face {
  font-family: "bootstrap-icons";
  src: url(../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2)
      format("woff2"),
    url(../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff)
      format("woff");
  font-display: swap;
}

.logo {
  max-height: 50px;
  max-width: 200px;
  object-fit: contain;
}

.bg-gradient-my-good-app {
  background: transparent linear-gradient(118deg, $primary -10%, $primary-dark 120%)
    0 0 no-repeat padding-box;
}

.bg-contrast {
  background: transparent linear-gradient(118deg, $secondary -10%, $accent 120%)
    0 0 no-repeat padding-box;
}

main{
  background-color: $light;
}

.navbar {
  box-shadow: 0 0 15px transparentize($dark, 0.8);
  .nav-link.active {
    color: $accent !important;
    position: relative;

    &::before {
      content: "•";
      display: inline-block;

      position: absolute;
      bottom: -0.5em;
      left: 0;

      text-align: center;
      width: 100%;
    }
  }
}
