@import "variables";

.plans {
  overflow-x: hidden;

  .over{
    transform: scale(1.1);
    .card{
      box-shadow: 5px 10px 25px rgba($secondary, 0.15);
    }
  }

  .plan{
    margin-right: 2rem;
    margin-left: 2rem;
  }

  .card {
    background: #FFFFFF 0 0 no-repeat padding-box;
    border: 0;
    box-shadow: 5px 10px 25px rgba($primary-dark, 0.15);
    border-radius: 10px;
    opacity: 1;
    font-weight: lighter;

    .card-header {
      background: $primary;
      text-align: center;
      padding: 1rem;
      border: 0;

      h3 {
        text-transform: uppercase;
        font-size: 1.2rem;
        color: white;
        font-weight: 400;
        margin: 0;
      }
    }

    .card-body{
      text-align: center;
      display: flex;
      align-items: center;

      ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        li{
          margin-bottom: 1rem;
        }
      }
    }

    &.best {
      .card-header {
        background: linear-gradient(180deg, $accent 0%, $secondary 99%, #fff 100%) 0 0 no-repeat padding-box;
        padding-bottom: 3rem;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          height: 2rem;
          background: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z' stroke='white' fill='white' %3E%3C/path%3E%3C/svg%3E");
          transform: scale(1.0025,1.02);
        }
      }
    }

    .card-footer{
      text-align: center;
      background: transparent;
      border: 0;

      .plan-price{
        text-align: center;
        font: normal normal bold 48px/24px Poppins;
        letter-spacing: 0;
        color: #414648;
      }
    }
  }
}