@import "variables";

.promo {
  display: flex;
  font-weight: lighter;

  .container {
    background: #ffffff;
    box-shadow: 5px 5px 30px transparentize($dark, 0.7);
    border-radius: 10px;
    margin-top: -1.5rem;
    padding: 2rem 7rem;

    @media screen and (max-width: 500px) {
      padding: 2rem 2rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

  .card {
    border: none;

    .img-promo {
      height: 150px;
      border-radius: 5%;
      box-shadow: $dark 0px 1px 5px;
    }

    .card-body {
      text-align: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}