@import "variables";

.why{
  margin-top: 76px;
  .why-top{
    position: relative;
  }
  .filter{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(180deg, $primary-dark 0%, $secondary 100%);
    opacity: 0.5;
    background-position: center;
    z-index: 100;
  }
  .container p{
    font-weight: lighter;
    font-size: 1.2rem;
  }
}